.position {
    position: absolute;
    z-index: 0;
}

.top {
top: calc(16px + var(--offset));
}

.left {
left: calc(16px + var(--offset2));
}

.right {
right: calc(16px + var(--offset2));
}

.bottom {
bottom: calc(16px + var(--offset));
}